<div>
  <form name="loginForm" layout="column" layout-align="center center">
    <md-input-container>
      <label>Username</label>
      <input name="username" type="text" ng-model="user.username" required  />
    </md-input-container>
    <md-input-container>
      <label>Mot de passe</label>
      <input type="password" ng-model="user.password" required />
    </md-input-container>
    <md-input-container>
      <md-button class="md-primary" ng-click="login()">Se connecter</md-button>
    </md-input-container>
  </form>
</div>
